# Byte-compiled / optimized / DLL files
__pycache__/

# VSCode
.vscode/

# Databases
wh/
wh*/
*.db

# thumbnail cache on Windows
Thumbs.db

# Notebooks
*.ipynb

# Log files
*.log
*.log.*

# backup copies
*.bak